<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>CRM System</title>
  <th:block th:replace="~{fragments/header :: head}"></th:block>
</head>
<body>

<nav th:replace="~{fragments/header :: navbar}"></nav>

<main class="container my-4">
  <div th:if="${requests.isEmpty()}" class="alert alert-info">
    <p class="mb-0">Заявок не найдено.</p>
  </div>

  <div class="requests-grid" th:unless="${requests.isEmpty()}">
    <div class="card" th:each="request : ${requests}">
      <div class="card-body">
        <div class="request-title">
          <span th:unless="${request.handled}" class="badge-new">*(Новая)</span>
          <span th:text="'Заявка от ' + ${request.userName}">Заявка от Ильяс Жуанышев</span>
        </div>

        <div class="request-info">
          <strong>Курс:</strong> <span th:text="${request.courseName}">Java Standard Edition</span>
        </div>

        <div class="request-info" th:if="${request.commentary}">
          <span th:text="${request.commentary}">Хотел спросить вас, а сколько будет длится сам курс?</span>
        </div>

        <div class="request-info">
          <strong>Тел:</strong> <span th:text="${request.phone}">+77027777777</span>
        </div>

        <a th:href="@{/requests/{id}(id=${request.id})}" class="details-link">Подробнее</a>
      </div>
    </div>
  </div>
</main>


<footer th:replace="~{fragments/header :: footer}"></footer>
<div th:replace="~{fragments/header :: scripts}"></div>
</body>
</html>
